* {
    /* font-family: 'Roboto-Regular', sans-serif; */
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-vermelhoImpacto: #d80001;
    --color-begeTatico: #d1af94;
    --color-pretoProfundo: #151515;
    --color-brancoAlvo: #f9f9f9;
    --color-cinzaArmado: #4a4a4a;
    --color-verdeMilitar: #556b2f;
    --color-bronzeMetalico: #b08d57;
    --color-cinzaFundoCard: rgb(236, 235, 233);
}

body {
    background-color: var(--color-brancoAlvo);
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: auto;
}
.logo01 {
    height: 110px;
    width: 110px;
}

section {
    /* height: 500px; */
    width: auto;
    padding: 10px;
}

/* SECTION 01 */
.section01 {
    display: flex;
    flex-direction: column;
    border: none;
    padding-bottom: 50px;
}
.containerImgLicenca {
    max-width: 1080px;
    width: 100%;
    height: auto;
}
.containerImgLicenca img {
    max-width: 1080px;
    width: 100%;
    padding-bottom: 15px;
}

.licenca01 {
    font-size: 68px;
    background-color: var(--color-begeTatico);
    border-radius: 6px;
}
.licenca02 {
    font-size: 28px;
    line-height: .9;
    padding-bottom: 30px;
    text-align: center;
}

.cargaHoraria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: .9;
}
.imgCargaHoraria {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 70px;
}
.containerDescriCargaHoraria p {
    font-size: 22px;
}
/* SECTION 01 */

/* SECTION 02 */

.sectionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}
.card01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    background-color: var(--color-cinzaFundoCard);
}
.iconCategory img {
    width: 60px;
}
.tituloCard {
    font-size: 24px;
    line-height: .9;
    padding-bottom: 10px;
}
.descCard {
    text-align: center;    
    font-size: 16px;
}

.endLocal div {
    font-size: 16px;
}

/* BOTÃO WHATSAPP */
.botaoWhatsapp img {
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* SLIDER */
.slider {
    margin: 0 auto;
    height: 350px;
    width: 350px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 350px;
    display: flex;
}
.slides input {
    display: none;
}

.slide {
    width: 66.6%;
    position: relative;
}
.slide img {
    width: 350px;
}

.manualNavigation {
    position: absolute;
    width: 350px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.manualBtn {
    border: 1.8px solid var(--color-brancoAlvo);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}
/* .manualBtn:not(:last-child){
    margin-right: 10px;
} */
.manualBtn:hover {
    background-color: var(--color-brancoAlvo);
}

#radio01:checked ~ .first {
    margin-left: 0;
}
#radio02:checked ~ .first {
    margin-left: -25%;
}
#radio03:checked ~ .first {
    margin-left: -50%;
}
#radio04:checked ~ .first {
    margin-left: -100%;
}
#radio05:checked ~ .first {
    margin-left: -200%;
}
#radio06:checked ~ .first {
    margin-left: -333%;
}

.navigationAuto div {
    border: 1.8px solid var(--color-verdeMilitar);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}
.navigationAuto {
    position: absolute;
    width: 350px;
    margin-top: 310px;
    gap: 10px;
    display: flex;
    justify-content: center;
}
/* .navigationAuto div:not(:last-child){
    margin-right: 10px;
} */


/* FOOTER */
footer{  
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer p{
    margin: 5px 0;
}