* {
    /* font-family: 'Roboto-Regular', sans-serif; */
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-vermelhoImpacto: #d80001;
    --color-begeTatico: #d1af94;
    --color-pretoProfundo: #151515;
    --color-brancoAlvo: #f9f9f9;
    --color-cinzaArmado: #4a4a4a;
    --color-verdeMilitar: #556b2f;
    --color-bronzeMetalico: #b08d57;
    --color-cinzaFundoCard: rgb(236, 235, 233);
}

body {
    background-color: var(--color-brancoAlvo);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./imgs/BackgroundImage01.png);
    letter-spacing: .3px;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: auto;
}
.logo01 {
    height: 110px;
    width: 110px;
}

section {
    /* height: 500px; */
    width: auto;
    padding: 10px;
}

/* SECTION 01 */
.section01 {
    display: flex;
    flex-direction: column;
    border: none;
    padding-bottom: 50px;
}

/* BANNER 01 */
.containerImgLicenca img {
    max-width: 1080px;
    width: 100%;
    padding-bottom: 15px;
    clip-path: polygon(80% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
}
/* BANNER 01 */


.licenca02 {
    font-size: 28px;
    line-height: .9;
    padding-bottom: 30px;
    text-align: center;
    color: var(--color-brancoAlvo);
}

.cargaHoraria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: .9;
    color: var(--color-brancoAlvo);
}
.imgCargaHoraria {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 70px;
}
.containerDescriCargaHoraria p {
    font-size: 22px;
}
/* SECTION 01 */

/* SECTION 02 */

.sectionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}
.card01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    gap: 8px;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 1px rgba(255, 255, 255, 0.5);
    padding: 20px;
    background-color: var(--color-cinzaFundoCard);
}
.iconCategory img {
    width: 60px;
}
.tituloCard {
    font-size: 24px;
    line-height: .9;
    padding-bottom: 10px;
}
.descCard {
    text-align: center;    
    font-size: 16px;
    line-height: .9;
    letter-spacing: .5px;

}

/* SECTION VALOR */

.botaoPreco{
    text-decoration: none;
    color: var(--color-pretoProfundo);
}
.cardPreco {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 320px;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 1px rgba(255, 255, 255, 0.5);
    padding: 20px;
    background-color: var(--color-begeTatico);
    color: var(--color-pretoProfundo);
    letter-spacing: .7px;
}

.comparacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    line-height: .9;
    padding-bottom: 15px;
}
.precoAntigo{
    text-decoration: line-through;
    font-size: 25px;
    font-weight: 100;
}

.espacePrecoNovo{
    line-height: .9;
    padding-bottom: 15px;
}
.precoNovo{
    font-size: 60px;
}

.listaDescPreco{
    padding-bottom: 15px;
}
.listaValor{
    display: flex;
    align-items: center;
    line-height: .9;
    letter-spacing: .3px;
    gap: 10px;
}
.iconPreco img{
    width: 14px;
}

.botaoSaibaMais{
    width: 200px;
    height: 50px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 18px;
    background-color: #3bd456;
    color: var(--color-pretoProfundo);
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
    border: none;
    letter-spacing: .7px;
    cursor: pointer;
    animation: pulsar 2s infinite;
}
@keyframes pulsar{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

/* BOTÃO WHATSAPP */
.botaoWhatsapp img {
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: pulsar 2s infinite;
}

/* SLIDER */
.slider {
    margin: 0 auto;
    height: 350px;
    width: 350px;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid;
    box-shadow: 4px 4px 4px 1px rgba(255, 255, 255, 0.5);
}

.slides {
    width: 350px;
    height: 350px;
    display: flex;
}
.slides input {
    display: none;
}

.slide {
    position: relative;
    transition: .5s;
}
.slide img {
    width: 350px;
}

.manualNavigation {
    position: absolute;
    width: 350px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.manualBtn {
    border: 1.8px solid var(--color-brancoAlvo);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}
.manualBtn:hover {
    background-color: var(--color-brancoAlvo);
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -350px;
}
#radio3:checked ~ .first {
    margin-left: -700px;
}
#radio4:checked ~ .first {
    margin-left: -1050px;
}
#radio5:checked ~ .first {
    margin-left: -1400px;
}
#radio6:checked ~ .first {
    margin-left: -1750px;
}
#radio7:checked ~ .first {
    margin-left: -2100px;
}
#radio8:checked ~ .first {
    margin-left: -2450px;
}
#radio9:checked ~ .first {
    margin-left: -2800px;
}

.navigationAuto div {
    border: 1.8px solid var(--color-verdeMilitar);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigationAuto {
    position: absolute;
    width: 350px;
    margin-top: 310px;
    gap: 10px;
    display: flex;
    justify-content: center;
}
#radio1:checked ~ .navigationAuto .autoBtn1{
    background-color: var(--color-brancoAlvo);
}
#radio2:checked ~ .navigationAuto .autoBtn2{
    background-color: var(--color-brancoAlvo);
}
#radio3:checked ~ .navigationAuto .autoBtn3{
    background-color: var(--color-brancoAlvo);
}
#radio4:checked ~ .navigationAuto .autoBtn4{
    background-color: var(--color-brancoAlvo);
}
#radio5:checked ~ .navigationAuto .autoBtn5{
    background-color: var(--color-brancoAlvo);
}
#radio6:checked ~ .navigationAuto .autoBtn6{
    background-color: var(--color-brancoAlvo);
}
#radio7:checked ~ .navigationAuto .autoBtn7{
    background-color: var(--color-brancoAlvo);
}
#radio8:checked ~ .navigationAuto .autoBtn8{
    background-color: var(--color-brancoAlvo);
}
#radio9:checked ~ .navigationAuto .autoBtn9{
    background-color: var(--color-brancoAlvo);
}
/* SLIDER */


.endLocal{
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-brancoAlvo);
}
.descEnd{
    font-size: 14px;
    letter-spacing: .6px;
}


/* FOOTER */
footer{  
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: var(--color-cinzaArmado);
}
footer p{
    margin: 5px 0;
    font-size: 11PX;
    letter-spacing: .6px;
    color: var(--color-brancoAlvo);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* CARDS */
    .card01 {
        width: 500px;
        gap: 10px;
    }
    .iconCategory img {
        width: 75px;
    }
    .tituloCard {
        font-size: 28px;
        line-height: .9;
        padding-bottom: 10px;
    }
    .descCard {
        text-align: center;    
        font-size: 20px;
    }

    .cardPreco {
        width: 500px;
        height: 460px;
        padding: 20px;
    }

    .tudoIsso{
        font-size: 20px;
    }
    .comparacao{
        gap: 5px;
        line-height: .9;
        padding-bottom: 30px;
    }
    .de{
        font-size: 18px;
    }
    .precoAntigo{
        font-size: 35px;
    }

    .introCardValor{
        font-size: 20px;
    }
    .espacePrecoNovo{
        line-height: .9;
        padding-bottom: 30px;
    }
    .precoNovo{
        font-size: 80px;
    }

    .listaDescPreco{
        padding-bottom: 30px;
    }
    .listaValor{
        display: flex;
        align-items: center;
        line-height: .9;
        letter-spacing: .3px;
        font-size: 20px;
        gap: 10px;
    }
    .iconPreco img{
        width: 20px;
    }

    .botaoSaibaMais{
        width: 250px;
        height: 60px;
        font-size: 22px;
    }

    /* SLIDER */
    .slider {
        height: 500px;
        width: 500px;
    }

    .slides {
        width: 500px;
        height: 500px;
    }
    .slide img {
        width: 500px;
    }

    .manualNavigation {
        width: 500px;
    }
    .manualBtn:hover {
        background-color: var(--color-brancoAlvo);
    }

    #radio1:checked ~ .first {
        margin-left: 0;
    }
    #radio2:checked ~ .first {
        margin-left: -500px;
    }
    #radio3:checked ~ .first {
        margin-left: -1000px;
    }
    #radio4:checked ~ .first {
        margin-left: -1500px;
    }
    #radio5:checked ~ .first {
        margin-left: -2000px;
    }
    #radio6:checked ~ .first {
        margin-left: -2500px;
    }
    #radio7:checked ~ .first {
        margin-left: -3000px;
    }
    #radio8:checked ~ .first {
        margin-left: -3500px;
    }
    #radio9:checked ~ .first {
        margin-left: -4000px;
    }

    .navigationAuto div {
        border: 1.8px solid var(--color-verdeMilitar);
        padding: 5px;
    }
    .navigationAuto {
        width: 500px;
        margin-top: 460px;
    }

    /* BOTÃO WHATSAPP */
    .botaoWhatsapp img {
        width: 60px;
    }

    .descEnd{
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    body{
        background-size: cover;
    }

    .section01 {
        gap: 50px;
    }
    .licenca02{
        font-size: 40px;
    }
    .imgCargaHoraria {
        width: 100px;
    }
    .containerDescriCargaHoraria p {
        font-size: 30px;
    }

    /* CARDS */
    .card01 {
        width: 600px;
        gap: 10px;
        padding: 20px;
    }
    .iconCategory img {
        width: 75px;
    }
    .tituloCard {
        font-size: 32px;
        line-height: .9;
        padding-bottom: 10px;
    }
    .descCard {
        text-align: center;    
        font-size: 22px;
    }

    .cardPreco {
        width: 600px;
        height: 510px;
        padding: 20px;
    }

    .tudoIsso{
        font-size: 25px;
    }
    .comparacao{
        gap: 5px;
        line-height: .9;
        padding-bottom: 40px;
    }
    .de{
        font-size: 22px;
    }
    .precoAntigo{
        font-size: 35px;
    }

    .introCardValor{
        font-size: 22px;
    }
    .espacePrecoNovo{
        line-height: .9;
        padding-bottom: 30px;
    }
    .precoNovo{
        font-size: 100px;
    }

    .listaDescPreco{
        padding-bottom: 30px;
    }
    .listaValor{
        display: flex;
        align-items: center;
        line-height: .9;
        letter-spacing: .3px;
        font-size: 25px;
        gap: 10px;
    }
    .iconPreco img{
        width: 22px;
    }

    .botaoSaibaMais{
        width: 300px;
        height: 80px;
        font-size: 25px;
    }

    /* SLIDER */
    .slider {
        height: 600px;
        width: 600px;
    }

    .slides {
        width: 600px;
        height: 600px;
    }
    .slide img {
        width: 600px;
    }

    .manualNavigation {
        width: 600px;
    }
    .manualBtn:hover {
        background-color: var(--color-brancoAlvo);
    }

    #radio1:checked ~ .first {
        margin-left: 0;
    }
    #radio2:checked ~ .first {
        margin-left: -600px;
    }
    #radio3:checked ~ .first {
        margin-left: -1200px;
    }
    #radio4:checked ~ .first {
        margin-left: -1800px;
    }
    #radio5:checked ~ .first {
        margin-left: -2400px;
    }
    #radio6:checked ~ .first {
        margin-left: -3000px;
    }
    #radio7:checked ~ .first {
        margin-left: -3600px;
    }
    #radio8:checked ~ .first {
        margin-left: -4200px;
    }
    #radio9:checked ~ .first {
        margin-left: -4800px;
    }

    .navigationAuto div {
        border: 1.8px solid var(--color-verdeMilitar);
        padding: 5px;
    }
    .navigationAuto {
        width: 600px;
        margin-top: 560px;
    }  
    
        /* BOTÃO WHATSAPP */
    .botaoWhatsapp img {
        width: 70px;
    }

    .descEnd{
        font-size: 22px;
    }
}
